/* Fotos (placeholders) */
/* ---------- Fotos (placeholders) ---------- */
.news-photo{ background:#e9eef3 url("../../../assets/img/news.png") center/cover no-repeat; }
.event-photo{ background:#e9eef3 url("../../../assets/img/news.png") center 28%/cover no-repeat; }
.login-photo{ background:#e7e9e2 url("../../../assets/img/login.png") center/cover no-repeat; }
